// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: #efefef;
$classic-highlight-color: #2b90d9;

// Color scheme
$blue: #66e8ff;
$yellow: #ffed66;
$pink: #ff66ad;
$purple: #a866ff;
$green: #4cffa8;

// Variants
$blue-dark: darken($blue, 10%);
$blue-darker: darken($blue, 40%);
$purple-dark: #843de1;
$purple-darker: darken($purple, 50%);
$green-dark: darken($green, 20%);
$green-darker: darken($green, 40%);
$yellow-dark: darken($yellow, 25%);
$pink-dark: darken($pink, 25%);

$yellow-light: lighten($yellow, 20%);
$purple-light: lighten($purple, 25%);
$blue-light: lighten($blue, 20%);

// Privacy / visibility levels
$feed-background: rgba(255, 255, 255, 0.8);
$privacy-public-text: #007ac4;
$privacy-public-glow: $blue;
$privacy-local-text: #8e37ff;
$privacy-local-glow: $purple;
$privacy-private-text: #008a08;
$privacy-private-glow: $green;
$privacy-direct-text: #d709b6;
$privacy-direct-glow: #f700ff;

// Differences
$success-green: lighten(#3c754d, 8%);

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #b0c0cf;
$ui-primary-color: #9bcbed;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: $purple-dark;

$primary-text-color: $purple-darker !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #444b5d;
$action-button-color: #606984;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #444b5d;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
