name: Docker Build
on:
  push:
    branches:
      - master

env:
  # Beware! The last part of this image name is global for your user or organization.
  # This "docker.pkg.github.com/queerhaus/hometown/hometown" is exactly the same image as
  # this "docker.pkg.github.com/queerhaus/foobaroo/hometown"
  # Also keep in mind that with open source public github projects, these images can never be deleted.
  # https://help.github.com/en/packages/publishing-and-managing-packages/deleting-a-package
  DOCKER_IMAGE: docker.pkg.github.com/queerhaus/hometown/hometown
  DOCKER_IMAGE_BUILD: docker.pkg.github.com/queerhaus/hometown/hometown-build-dep

jobs:

  prepare:
    name: Prepare Docker Image
    runs-on: ubuntu-18.04
    steps:
      -   uses: actions/checkout@v1

      -   name: Build docker image using previous image as cache
          run: |
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin
            docker pull $DOCKER_IMAGE_BUILD:latest || true
            docker build --cache-from $DOCKER_IMAGE_BUILD:latest --target build-dep --tag $DOCKER_IMAGE_BUILD:latest .
            docker push $DOCKER_IMAGE_BUILD:latest
            docker pull $DOCKER_IMAGE:master || true
            docker build --cache-from $DOCKER_IMAGE_BUILD:latest --cache-from $DOCKER_IMAGE:master --tag $DOCKER_IMAGE:master .
            docker push $DOCKER_IMAGE:master
